.Dialog44zl {
    background-color: #1e1e1e;
    box-shadow: 4px 4px 4px #4a4a4a7A;
    border: 1px solid #4a4a4a;
    opacity: 0.8;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
} 

.Dialog44zl > .dijitDialogTitleBar  {
    background-color: #4a4a4a;
    border-bottom: 2px #1e1e1e;
    border-bottom-style: solid;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: move;

}

.DialogButtons44zl {
	padding-bottom: 15px;
	padding-top: 10px;
	margin: 5px;
	display: flex;
	flex-direction: row-reverse;
}